.sr-only {
	position: absolute !important;

	overflow: hidden !important;
	clip: rect(1px, 1px, 1px, 1px) !important;

	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	padding: 0 !important;

	white-space: nowrap !important;

	border: 0 !important;
	clip-path: inset(50%) !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
	overflow: visible !important;
	clip: auto !important;

	width: auto !important;
	height: auto !important;
	margin: auto !important;

	white-space: normal !important;
	clip-path: none !important;
}

body {
	overflow-x: hidden;

	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-family: Roboto, sans-serif;
	line-height: 1.5;
}

body * {
	box-sizing: inherit;

	color: inherit;

	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
